<div id="title">
    <div class="container h-75">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-8">
                <div class="d-none d-md-block text-center">
                    <h1>David Aeschlimann</h1>
                    <hr>
                    <p class="title text-white"><strong>Apprenti développeur d'applications</strong></p>
                </div>
                <div class="d-block d-md-none">
                    <h1>David Aeschlimann</h1>
                    <hr>
                    <p class="title text-white">Apprenti développeur d'applications</p>
                </div>
            </div>
        </div>
        <a (click)="base.scrollTo('profile')" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
    </div>
    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
</div>
