<div class="container h-75">
    <h2>Projets</h2>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
            <hr>
            <div *ngFor="let project of projects | keyvalue">
                <h3 class="text-center text-md-start">{{ project.key }}</h3>
                <div *ngFor="let project of project.value; let cardIndex = index" class="card mt-4">
                    <div class="row">
                        <div class="d-sm-none col-md-5">
                            <img [src]="project.image" class="img-fluid rounded-top" [alt]="project.name">
                        </div>
                        <div class="col-md-7 px-3">
                            <div class="p-3 h-100">
                                <h4 class="card-title">{{project.name}}</h4>
                                <p class="mb-0">{{ project.description }}</p>
                                <div *ngIf="project.devTools" class="mt-3">
                                    <app-dev-tools-icons [devTools]="project.devTools"></app-dev-tools-icons>
                                </div>
                                <div class="mt-3" *ngIf="project.url || project.repository">
                                    <a *ngIf="project.url" [href]="project.url" class="btn btn-custom-outline-primary" rel="noreferrer" target="_blank">
                                        Vers&nbsp;{{project.name}}&nbsp;
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                    <a *ngIf="project.repository" [href]="project.repository" class="btn btn-custom-outline-primary" rel="noreferrer" target="_blank">
                                        Repository&nbsp;
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-sm-block col-md-5 {{ cardIndex % 2 != 0 ? 'order-first': ''}}">
                            <img [src]="project.image" class="img-fluid project-img {{ cardIndex % 2 != 0 ? 'rounded-left': 'rounded-right'}}" [alt]="project.name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
