.nav-link {
    cursor: pointer;
}

.nav-link {
    margin-top: 5px;
    border-radius: 10px;
}

.active, .nav-link:hover {
    background-color: #ddd;
}

#navbar {
    top: 40%;
    left: 3.5%;
    margin: .5rem;
    border: solid 1px #ddd;
    border-radius: 10px;
    max-width: 175px;
    max-height: 250px;
}

@media only screen and (max-width: 1000px) {
    .nav-link:first-child {
        margin-top: 5px;
    }

    #navbar {
        top: .5rem;
        max-width: 100%;
    }
}
