<div class="container h-75">
    <h2>Profil</h2>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8 text-center text-md-start">
            <hr>
            <div class="row">
                <div class="col-lg-4 text-md-start text-center">
                    <h3>À mon propos</h3>   
                    <p class="justify">
                        Je suis apprenti développeur d'applications en 4<sup>ème</sup> année, travaillant surtout sur le back-end et les bases de données.
                        J'aime découvrir et utiliser de nouvelles technologies, ainsi que le travail en équipe.
                    </p>             
                </div>
                <div class="col-lg-4 text-md-start text-center align-items-center">
                    <img src="../assets/images/user.jpg" alt="Ma photo" class="img-fluid rounded-circle border border-5" id="photo" style="max-height: 320px" />
                </div>
                <div class="col-lg-4 text-md-start text-center">
                    <h3>Informations</h3>
                    <p>
                        <span class="location">
                            <i class="bi bi-person-fill"></i>&nbsp;
                        </span>
                        David Aeschlimann
                    </p>
                    <p>
                        <span class="location">
                            <i class="bi bi-balloon-fill"></i>&nbsp;
                        </span>
                        {{ ageNumber }} ans
                    </p>
                    <p>
                        <span class="location">
                            <i class="bi bi-geo-alt-fill"></i>&nbsp;
                        </span>
                        Suisse
                    </p>
                    <p class="text-break">
                        <span class="location">
                            <i class="bi bi-envelope-fill"></i>&nbsp;
                        </span>
                        <a href="mailto:david.aeschlimann96@gmail.com">david.aeschlimann96@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-4 pt-4">
                <a *ngFor="let social of socials" [href]="social.link" target="_blank">
                    <img width="40px" [src]="'../assets/images/socials/'+social.image" [alt]="social.name">
                </a>
            </div>
        </div>
    </div>
</div>
