<section id="profile">
    <div class="container h-75">
        <h2>Profil</h2>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-8 text-center text-md-start">
                <hr>
                <div class="row">
                    <div class="col-lg-4 text-md-start text-center">
                        <h3>À mon propos</h3>   
                        <p class="justify">
                            Je suis apprenti développeur d'applications en 3<sup>ème</sup> année, travaillant surtout sur le back-end et les bases de données.
                            J'aime apprendre à utiliser de nouvelles technologies, ainsi que le travail en équipe.
                        </p>             
                    </div>
                    <div class="col-lg-4 text-md-start text-center align-items-center">
                        <img src="../assets/images/user.png" alt="Ma photo" class="img-fluid rounded-circle border border-5" id="photo" style="max-height: 320px" />
                    </div>
                    <div class="col-lg-4 text-md-start text-center">
                        <h3>Informations</h3>
                        <p>
                            <span class="location">
                                <i class="bi bi-person-fill"></i>
                            </span>
                            David Aeschlimann
                        </p>
                        <p>
                            <span class="location">
                                <i class="bi bi-balloon-fill"></i>
                            </span>
                            1<sup>er</sup> décembre 1996
                        </p>
                        <p>
                            <span class="location">
                                <i class="bi bi-geo-alt-fill"></i>
                            </span>
                            Estavayer-le-Lac, Suisse
                        </p>
                        <p>
                            <span class="location">
                                <i class="bi bi-phone-fill"></i>
                            </span>
                            079 307 42 87
                        </p>
                        <p class="text-break">
                            <span class="location">
                                <i class="bi bi-envelope-fill"></i>
                            </span>
                            <span>
                                david.aeschlimann96@gmail.com
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
