/* Import Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

$primary: #7476E7;

$theme-colors: (
  "primary": $primary
);

html {
	scroll-behavior: smooth;
}

h1:first-of-type {
	font-size: 70px;
	color: white;
	text-align: center;
}

h1 {
	font-size: 70px;
	color: #7476E7;
	text-align: center;
}

hr {
	border: #7476E7 solid 1px;
	opacity: 1;
	margin: 40px 0px 40px 0px;
}

h2 {
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 54px;
	color: #7476E7;
	line-height: 64px;
	text-align: center;
	width: 100%;
}

h2.text-light {
	text-shadow: 2px 2px 4px black;
}

h3 {
	color: #7476E7;
	margin: 20px 0px 20px 0px;
}

h5 {
	line-height: 0;
}

section {
	background-position: center;
	background-size: cover;
	padding: 80px 0px 40px 0px;
}

section:first-of-type {
	padding: 0px;
}

img.icon {
	width: 30px;
}

ul.timeline > li > span {
	font-weight: bold;
}

ul.timeline > li > span .float-right {
	margin-left: 10px;
}

.separator {
	height:10px;
	background-color: black;
}

.location {
	color: #7476E7;
}

.justify {
	text-align: justify;
}

.rating {
	color: #7476E7;
}

.title {
	font-size: 28px;
	font-weight: 100;
	text-align: center;
}

.main {
	width: 100%;
	background-color: white;
	border-radius: 25px;
	padding: 10px;
}

.btn-outline-primary {
	border-color: #7476E7;
	color: #7476E7;
}

.btn-outline-primary:hover {
	border-color: #7476E7;
	background-color: #7476E7;
	color: #fff;
}

.btn-outline-primary:focus {
	border-color: #7476E7;
    box-shadow: 0 0 0 0.2rem rgba(116, 118, 231, 1);
}

.rating span {
	  color: orange;
}

.timeline tr {
	position: relative;
}

#career p {
	padding-right: 20px;
}

/* Mobile support */
@media (max-width: 767px) {
	h1:first-of-type {
		font-size: 55px;
		color: white;
		text-align: center;
	}

	h1 {
		font-size: 55px;
		color: #7476E7;
		text-align: center;
	}
	
	h2 {
		font-size: 38px;
		color: #7476E7;
	}

	.title {
		font-size: 24px;
		color: white;
		text-align: center;
	}
	
	.main {
		text-align: center;
	}
	
	#career .main {
		text-align: left;
	}
	
	.skills {
		margin-left: auto;
		margin-right: auto;
	}
}
